
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.content {
  background-color: #1A1A1A;
  color: #FAFAFA;

  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top:2rem;

  min-height: 100vh;
}



.list-container > * {
  margin-block: .2rem;
}

