@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.content {
  font-family: "Montserrat", sans-serif;
  background-color: #1A1A1A;
  color: #FAFAFA;

  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  /* background-color: red; */
  height: 100vh;
}

.list-container {
  background-color: #464D00;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 100%;

  

  margin-block: 1rem;
  padding: 1rem;

  border-radius: 10px;
}

.list-container > * {
  margin-block: .2rem;
}

@media (min-width:768px) {
  .list-container {
    width: 70%;
  }
}