.task-container {
    background-color: #282B00;

    display: flex;
    justify-content: space-between;

    padding: 1rem;
    border-radius: 10px;

    width: 100%;
}

.title {
    overflow-wrap: anywhere;

    &:hover {
        cursor: pointer;
    }
}

.icon {
    transition: all .2s;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}





.completed {
    text-decoration: line-through;
    background-color: #320C36;

}